@import url('https://fonts.googleapis.com/css?family=Google+Sans+Display:400,500');

// Variables
$google-font: 'Google Sans Display';
$label-color: #ffffffc2;

// Breakpoints
@mixin sm {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

// Normalize
body {
  background-color: #000;
  font: 1.1em $google-font;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
}

img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;

  &:hover > figcaption {
    opacity: 1;
    transition: ease-in-out all 0.5s;
  }
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

figure a {
  color: black;
  text-decoration: none;
}

figcaption {
  grid-row: 2;
  grid-column: 1;
  background-color: $label-color;
  padding: 0.2em 0.5em;
  justify-self: start;
  opacity: 0;
}

// Styles
.container {
  column-count: 2;
  column-gap: 10px;

  @include sm {
    column-count: 3;
  }

  @include md {
    column-count: 4;
  }

  @include lg {
    column-count: 5;
  }
}
